<form id="register">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" id="exampleFormControlInput1"
            placeholder="name@example.com">
    </div>
    <div class="mb-2">
        <label for="exampleFormControlInput2" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="exampleFormControlInput2">
    </div>
    <div>
        <a class="pointer" onclick="switchFormS()">Sign in</a>
    </div>
</form>
